# {{ project_name }}

{{ project_description }}

## Quickstart

First, [install Copier](https://copier.readthedocs.io/en/stable/#installation).

Then, to create a new project based on this template, run the following command and fill in the form:

```bash
copier copy '{{ repo_url }}' path/to/your/project
```

Later, to update your project as this template evolves, run:

```bash
copier update --skip-answered
```
